#header{
	display:flex;
	align-items:center;
	justify-content:center;
	align-content:center;
	text-align:center;
}

#logo{
	height:200px;
}

body{
	color: #fff;
	background-color:#000;
	text-shadow: 2px 2px #212421, 1px 1px #212021;
	font-family: Verdana, sans-serif;
	font-size: 30px;
	font-weight: normal;
	padding:0;
	margin:0;
}

#navigation{
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

ul.hlist{
	display:block;
	margin:0;
	padding:0;
}

ul.hlist li{
	display:inline-block;
	margin:0;
	padding:0;
}

ul.hlist li:nth-child(n+2){
	margin-left:10px;
}

ul.hlist li:nth-child(n+2)::before{
	content:"·";
	margin-right:10px;
}

a{
	text-decoration:none;
	color:inherit;
	color:#FF0;
}

a:hover{
	text-decoration:underline;
}

.section{
	padding:20px;
	background-color:rgb(11,10,96);
}

.section:nth-child(n+2){
	border-top:15px solid #0800b6;
}

.section ul{
	margin:0px;
}

.section .offset{
	margin-left:50px;
}