@font-face {
	font-family:'Reactor7';
	src:url('/Reactor7.ttf');
	font-weight:normal;
	font-style:normal;
}

body{
	font-family:tahoma;
	margin:0px;
	padding:0px;
	font-size:20px;
	background-color:rgba(0,0,25, 1);
	color:#fff;
}

#header{
	background-color:rgba(0,0,255, 0.5);
	text-shadow:
	-1px -1px 2px #000,  
	 1px -1px 2px #000,
	 -1px 1px 2px #000,
	  1px 1px 2px #000;
}

#pageTitle{
	font-size:200%;
}

#title{
	font-size:80%;
	padding:10px;
}

#navigation{
	background-color:rgba(0,0,255,0.25);
	padding:10px;
}

#navigation ul{
	padding:0px;
	margin:0px;
}

#navigation ul li{
	display:inline;
	text-transform:lowercase;
}

#navigation ul li:nth-child(n+2){
	margin-left:25px;
}

#navigation ul li::before{
}

#navigation ul li::after{
}

#content{
	padding:50px;
}

#footer{
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:rgba(255,0,0,0.25);
	padding:20px;
}

#vocabulary tr td tr:nth-child(odd){
	background-color:rgba(255,255,0,0.1);
}

#vocabulary td{
	vertical-align: top;
	padding:5px;
	text-align:center;
}

#vocabulary .line{
	width:5%;
}

#vocabulary .word{
	width:5%;
	font-weight:bold;
}

#vocabulary .root{
	font-weight:bold;
	width:5%;
}

#vocabulary .english{
	width:15%;
}

#vocabulary .japanese{
	width:15%;
}

#vocabulary .definition{
	text-align:left;
}

#vocabulary .definitions{
	width:20%;
}

#vocabulary .radio{
	text-align:center;
	width:50px;
}

input[type=radio]{
	height:20px;
	width:20px;
}

.submit{
	font-size:300%;
	font-family:georgia;
	text-align:center;
	position:fixed;
	bottom:25px;
	right:25px;
	border-radius:25px;
}

.ff7{
	background: rgba(8,0,255,0.7);
	background: -moz-linear-gradient(top,  #04009d 0%, rgba(8,0,80,0.5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
	background: -webkit-linear-gradient(top,  #04009d 0%,rgba(8,0,80,0.5) 100%);
	background: -o-linear-gradient(top,  #04009d 0%,rgba(8,0,80,0.5) 100%);
	background: -ms-linear-gradient(top,  #04009d 0%,rgba(8,0,80,0.5) 100%);
	background: linear-gradient(to bottom,  #04009d 0%,rgba(8,0,80,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	color: #eff1ff;
	text-shadow: 2px 2px #212421,
					1px 1px #212021;
	font-weight: normal;
  }

a{
	color:rgb(255, 255, 0);
}

a:visited{
	color:#616809;
}

.submit{
	opacity:10%;
}

.submit:hover{
	opacity:100%;
}

.highlight{
	font-size:125%;
	color:#FF0;
}

table#dialogue{
	width:100%;
	border-spacing: 0px;
    border-collapse: separate;
	padding:20px;
}

#dialogue th{
	text-align:left;
}

#dialogue td{
	padding:10px;
	vertical-align:middle;
	margin:0px;
}

#dialogue tr:nth-child(even) td{
	background-color:rgba(0,0,0,0.25);
}

#sceneName{
	font-size:200%;
}

#dialogue .linenum{
	width:100px;
	text-align:center;
}

#dialogue .english{
}

#dialogue .japanese{
}

#dialogue tr:nth-child(odd) td{
	/*background-color:rgba(0,0,255,0.25);*/
}

#scenes{
	padding:20px;
	width:100%;
}

#scenes td{
	padding:5px;
	vertical-align:top;
}

.links{
	margin-top:0px;
	margin-bottom:0px;
}
