table.misc{
	width:100%;
}

table.misc tr th.header{
	text-align:left;
}

table.misc tr th.art,
table.misc tr td.art{
	text-align:center;
}

table.misc tr td.art img{
	background-color:#fff;
	border-radius:25px;
	padding:10px;
	margin:10px;
	max-height:100px;
}