#dialogue{
	border-spacing:0px;
}

#dialogue tr th{
	text-align:left;
}

#dialogue tr:nth-child(even) td{
	background-color:rgba(0,0,0,0.1);
}

#dialogue tr td{
	padding:10px;
	margin:0px;
}

#dialogue tr td.linenum, #dialogue tr th.linenum{
	text-align:center;
}