doctype html
html
	head
		title.
			Node Page

		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")

	body
		include header.pug

		#template
			include navigation.pug
			include content.pug