#userpanel
	form(action='/login', method='post')
		="EMAIL: "
		input(name='email', placeholder='email')
		=" PASS: "
		input(name='password', type='password', placeholder='password')
		=" "
		input(type='submit', value='login')